* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 650px;
  padding: 20px;
  margin: auto;
  background-color: aliceblue;
}

th {
  background-color: rgb(198, 228, 255);
}
td {
  background-color: white;
}

.add {
  display: block;
  margin-right: 10px;
}
.all-checkbox {
  display: block;
  margin-top: 10px;
}

.flex {
  display: flex;
  margin-top: 10px;

  button {
    &:first-child {
      margin-right: auto;
    }
  }
}

.editBtn {
  margin-right: 10px;
}

table {
  margin-top: 10px;
}

col {
  width: 200px;
}
.col1 {
  width: 50px;
}

td {
  text-align: center;
}

#edit {
  color: grey;
}
#edit.active {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

address {
  text-align: center;
}